/* Portfolio grid */
.po_items_ho {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
  gap: 4rem;
}


/* Portfolio item */
.po_item {
  width: 100%;
  text-align: center;
  position: relative;
  background: var(--secondary-color);
  padding: 6px;
  border: 1px solid var(--secondary-color);
  transition: 0.3s ease;
  min-height: 300px;
}


/* Image */
.po_item img {
  max-width: 100%;
  display: block;
}


/* Overlay content */
.po_item .content {
  position: absolute;
  inset: 15px;
  background: var(--overlay-color);
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  font-size: 20px;
  border: 1px solid black;
}


/* Hover effects */
.po_item:hover {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.25);
}

.po_item:hover .content {
  opacity: 1;
  color: var(--secondary-color);
}


/* Link */
.po_item .content a {
  background: var(--bg-color);
  border: 1px solid var(--text-color);
  padding: 4px 8px;
  font-size: 1rem;
  text-align: center;
}

.po_item .content a:hover {
  text-decoration: none;
}